body {
    background-color: #C4A484;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.Home , img {
    height: 32px;
}

.center {
    text-align: center;
}

.dishp {
    height: 425px;
    border-radius: 10px;
    
}
.dishp:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    transition-timing-function:ease;
    border-radius: 10px;
}
.text {
    margin: 10px;
}